@model IEnumerable<EMS.Service.ViewModels.Faculty.FacultyViewModel>

@{
    ViewData["Title"] = "Index";
    var universityId = ViewBag.universityId;
}

<div class="container">
    <h1 class="mt-4">Faculty Index</h1>

    <p>
        <a asp-controller="Faculty" asp-action="Create" asp-route-universityId="@universityId" class="btn btn-primary">Create New</a>
    </p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-controller="Faculty" asp-action="Edit" asp-route-id="@item.Id" asp-route-universityId="@universityId" class="btn btn-warning">Edit</a>
                            <a asp-controller="Faculty" asp-action="Details" asp-route-id="@item.Id" asp-route-universityId="@universityId" class="btn btn-info">Details</a>
                            <a asp-controller="Faculty" asp-action="Delete" asp-route-id="@item.Id" asp-route-universityId="@universityId" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
