@model IEnumerable<EMS.Service.ViewModels.Division.DivisionViewModel>

@{
    ViewData["Title"] = "Index";
    var departmentId = ViewBag.departmentId;
}

<h1>Index</h1>

<p>
    <a asp-controller="Division" asp-action="Create" asp-route-departmentId="@departmentId" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Division" asp-action="Edit" asp-route-id="@item.Id" asp-route-departmentId="@departmentId" class="btn btn-primary">Edit</a>
                    <a asp-controller="Division" asp-action="Details" asp-route-id="@item.Id" asp-route-departmentId="@departmentId" class="btn btn-info">Details</a>
                    <a asp-controller="Division" asp-action="Delete" asp-route-id="@item.Id" asp-route-departmentId="@departmentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
