@model IEnumerable<UMS.Service.ViewModels.Group.GroupViewModel>

@{
    ViewData["Title"] = "Index";
    var facultyId = ViewBag.facultyId;
}

<div class="container">
    <h1 class="mt-4">Group Index</h1>

    <p>
        <a asp-controller="Group" asp-action="Create" asp-route-facultyId="@facultyId" class="btn btn-primary">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Scientific
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Scientific
                    </td>
                    <td>
                        <a asp-controller="Group" asp-action="Edit" asp-route-id="@item.Id" asp-route-facultyId="@facultyId" class="btn btn-warning">Edit</a> |
                        <a asp-controller="Group" asp-action="Details" asp-route-id="@item.Id" asp-route-facultyId="@facultyId" class="btn btn-info">Details</a> |
                        <a asp-controller="Group" asp-action="Delete" asp-route-id="@item.Id" asp-route-facultyId="@facultyId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
